[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
djangorestframework-simplejwt = "*"
pyjwt = "*"
djongo = "*"
django = "*"
django-cors-headers = "*"
setuptools = "*"
djangorestframework = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.12"
